<footer>
	<div class="mainfooter">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12" style="text-align:center;">
				<img style="width: 50%" class="img-responsive" src="/images/XEN-footerLogo.png"/>
                	<p>Copyright <?php echo date("Y"); ?>  Xenesta Life</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body></html>
