<?php echo $header; ?>
<link href="admin/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
<div class="container">
  <ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>


<div id="content" class="col-sm-9">      <h1>AUTO-DELIVERY ORDER PROFILE (ADO)</h1>
<img src="/cart/image/deactivated1.jpg">
</div>

<div class="col-sm-3">
			            <button type="button" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block"  id="update_autoship">Activate ADO</button>
			    <div>&nbsp;</div>        


<div class="list-group">
    <a href="<?php echo $autoship_link_history; ?>" class="list-group-item">ADO Transaction History</a>
    <a href="/bi_ledger.cgi" class="list-group-item">Billing Information</a>     
</div>            
            
            
            
            </div>


</div>

<script type='text/javascript'>
	jQuery(document).ready(function(){
		
			jQuery("#update_autoship").on("click",function(){
				
				swal({
				  title: 'Thank you! ADO Activated',
				  text: 'Click the OK button to refresh this page!',
				  type: 'success'
				},(function(){
                    
                    console.log('tae');
					
					jQuery.ajax({url:'index.php?route=extension/module/autoship/activateAutoship',data:{user_id:'<?php echo $customer_id; ?>',active_status:1},dataType:'POST',success:function(data){
							
						},
						complete:function(){
							location.reload();	
							}});
					
					
					}));
				
			});
		
		})

</script>

<?php echo $footer; ?>
