<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><?php echo $title; ?></title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; width:354px;">
<div style="width: 354px;"><a href="<?php echo $store_url; ?>" title="<?php echo $store_name; ?>"><img src="<?php echo $logo; ?>" alt="<?php echo $store_name; ?>" style="margin-bottom: 3px; border: none; width:280px; height:80px;" /></a>
  
  <?php if ($customer_id) { ?>
<p style="margin-top: 0px; margin-bottom: 3px;">Dear <b><?php echo $customer_id; ?></b> ,</p>
  <?php } ?>
   <?php if ($try_cc_info) { ?>
        <p style="margin-top: 0px; margin-bottom: 3px;"><?php echo $try_cc_info; ?></p>
        <p>
            Please click the following link to check the billing information we currently have on file for you and - if necessary - to update that information. You will need the site name and password that you ordinarily use for your Xenesta Life web site to login here.
        </p>
        <p>
            <a href="<?php echo $billing_info_site; ?>"><?php echo $billing_info_site; ?></a><br/>
            Site Name: <?php echo $site_name; ?><br/>
    </p>
   <?php } ?>
   <p style="margin-top: 0px; margin-bottom: 3px;"><?php echo $text_receipt; ?></p>
   <p style="margin-top: 0px; margin-bottom: 3px;"><?php echo $text_support; ?></p>
   <p style="margin-top: 0px; margin-bottom: 3px;"><?php echo $text_close_sal; ?><br><?php echo $text_from; ?></p>

  <br>
  <p style="margin-top: 0px; margin-bottom: 3px;">Invoice No. <b><?php echo $invoice; ?></b></p>
  <table width="400" style="border-collapse: collapse;  border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 3px;">
    <thead>
      <tr>
        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;"><?php echo $text_product; ?></td>
        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;"><?php echo $text_quantity; ?></td>
        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;"><?php echo $text_price; ?></td>
        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;"><?php echo $text_total; ?></td>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($products as $product) { ?>
      <tr>
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;"><?php echo $product['name']; ?>
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;"><?php echo $product['quantity']; ?></td>
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;"><?php echo $product['price']; ?></td>
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;"><?php echo $product['total']; ?></td>
      </tr>
      <?php } ?>
     
    </tbody>
    <tfoot>
      <?php foreach ($totals as $total) { ?>
      <tr>
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;" colspan="3"><b><?php echo $total['title']; ?>:</b></td>
        <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;"><?php echo $total['text']; ?></td>
      </tr>
      <?php } ?>
    </tfoot>
  </table>
  <p style="margin-top: 0px; margin-bottom: 3px;"><?php echo $text_semi_footer; ?></p>
  <p style="margin-top: 0px; margin-bottom: 3px;"><?php echo $text_footer; ?></p>
</div>
</body>
</html>
